.section.header .ui.vertical.menu {
    width: 20rem;
    height: 100%;
}
.section.header i.icon, i.icons {
    font-size: 1.25em;
}
.section.header .menu .content > * {
    margin: 0 0.5rem;
}
.section.header .menu .dropdown > .icon::before {
    content: "\f0da";
}
.section.header .menu .ui.left.pointing.dropdown > .menu {
    margin: -1em 0em 0em 4em;
}
.index-container {
    padding: 2em 2em 0em 0em !important;
}
.index-container.ui.grid > .column {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
#destination-currency .menu.transition.visible {
    overflow: hidden;
}
#exchange-rate-container {
    margin: 2em 0em;
}
.currency-convert .menu.transition.visible {
    overflow: hidden !important;
}
#exchange-rate-container .statistic > .value {
    font-size: 3.5rem !important;
}
#exchange-rate-container .ui.three.statistics {
    margin: 0em 0em -4em;
}