<div class="ui vertical menu">
    <div class="link item">
        <div class="middle aligned content">
            <i class="sidebar icon"></i>
            <a class="ui header">TradexMonitor</a>
        </div>
    </div>
    <div class="link item" ng-click="showSigninPopup();">
        <div class="middle aligned content">
            <i class="child icon"></i>
            <a class="ui header">Sign In</a>
        </div>
    </div>
    <div class="link item">
        <div class="middle aligned content">
            <i class="line chart icon"></i>
            <div class="ui left pointing dropdown" id="header-dropdown">
                <span class="ui header">Statistical Analysis</span>
                <div class="menu">
                    <div class="header">Select currency</div>
                    <a class="item">Bitcoin</a>
                    <a class="item">Ethereum</a>
                    <a class="item">Litecoin</a>
                    <a class="item">All of them</a>
                </div>
                <i class="dropdown icon"></i>
            </div>
        </div>
    </div>
    <div class="link item">
        <div class="middle aligned content">
            <i class="book icon"></i>
            <a class="ui header">History</a>
        </div>
    </div>
    <div class="link item">
        <div class="middle aligned content">
            <i class="info icon"></i>
            <a class="ui header">About Us</a>
        </div>
    </div>
    <div class="link item">
        <div class="middle aligned content">
            <i class="bitcoin icon"></i>
            <a class="ui header">Donate</a>
        </div>
    </div>
</div>

<div class="ui modal" id="md-sign-in">
    <div class="header">
        <span>Sign In</span>
        <span class="right-align">
            <a ng-click="showNewUserFields();">Create new user instead</a>
        </span>
    </div>
    <div class="content">
        <form class="ui form"
            novalidate="true"
            name="signInForm"
            ng-class="{ 'error': session.message }">
            <div class="ui error message" ng-if="session.message">
                <div class="header">{{ session.message.header }}</div>
                <p>{{ session.message.message }}</p>
            </div>
            <div class="fields">
                <div class="required field"
                    ng-class="{ 'eight wide': session.user.__isNew, 'sixteen wide': !session.user.__isNew}">
                    <label>Username</label>
                    <div class="ui icon input loading">
                        <input type="text"
                            name="username"
                            ng-model="session.user.userName"
                            ng-blur="lookupUser();"
                            placeholder="Username"
                            required="true"
                            ng-disabled="__isLoading">
                            <i class="search icon" ng-if="__isLoading"></i>
                    </div>
                    <span ng-if="!session.user.__isValid">
                        <label>Looks like the username is not valid.
                            <a ng-click="showNewUserFields();">Create new?</a>
                        </label>
                    </span>
                    <span ng-if="session.user.__isNew
                        && session.user.__isValid
                        && signInForm.username.$dirty">
                        <label>Sorry! The username is already taken</label>
                    </span>
                </div>
                <div ng-if="session.user.__isNew"
                    class="required field" ng-class="{ 'eight wide': session.user.__isNew }">
                    <label>Email address</label>
                    <input type="email"
                        ng-model="session.user.email"
                        placeholder="Email address"
                        required="true">
                </div>
            </div>
            <div class="fields">
                <div class="required field"
                    ng-class="{ 'eight wide': session.user.__isNew, 'sixteen wide': !session.user.__isNew}">
                    <label>Password</label>
                    <input type="password"
                        ng-model="session.user.password"
                        placeholder="Password"
                        required="true"
                        ng-disabled="__isLoading">
                    <span ng-if="!session.user.__isNew">
                        <label><a href='#'>Forgot password?</a></label>
                    </span>
                </div>
                <div ng-if="session.user.__isNew"
                    class="required eight wide field">
                    <label>Confirm Password</label>
                    <input type="password"
                        ng-model="session.user.confirmPwd"
                        placeholder="Confirm Password"
                        required="true">
                </div>
            </div>
            <div class="fields" ng-if="session.user.__isNew">
                <div class="eight wide field">
                    <label>First name</label>
                    <input type="text"
                        ng-model="session.user.firstName"
                        placeholder="First name">
                </div>
                <div class="eight wide field">
                    <label>Last name</label>
                    <input type="text"
                        ng-model="session.user.lastName"
                        placeholder="Last name">
                </div>
            </div>
            <div class="required field" ng-if="session.user.__isNew">
                <label>Password reset key</label>
                <input type="password"
                    ng-model="session.user.resetKey"
                    placeholder="Password reset key"
                    required="true">
            </div>
            <div class="field" ng-if="session.user.__isNew">
                <div class="ui checkbox">
                  <input type="checkbox" class="hidden">
                  <label>I agree to the Terms and Conditions</label>
                </div>
            </div>
        </form>
        <div class="actions">
            <button class="positive ui button"
                ng-disabled="signInForm.$invalid"
                ng-if="!session.user.__isNew"
                ng-click="doSignin();">Sign In</button>
            
            <button class="positive ui button"
                ng-if="session.user.__isNew"
                ng-disabled="signInForm.$invalid"
                ng-click="doSignUp();">Sign Up</button>
            
            <button class="negative ui button">Cancel</button>
        </div>
    </div>
</div>