<div class="ui vertical menu">
    <div class="link item">
        <div class="middle aligned content">
            <i class="sidebar icon"></i>
            <a class="ui header">TradexMonitor</a>
        </div>
    </div>
    <div class="link item">
        <div class="middle aligned content">
            <i class="child icon"></i>
            <a class="ui header">Sign In</a>
        </div>
    </div>
    <div class="link item">
        <div class="middle aligned content">
            <i class="line chart icon"></i>
            <div class="ui left pointing dropdown">
                <span class="ui header">Statistical Analysis</span>
                <div class="menu">
                    <div class="header">Select currency</div>
                    <a class="item">Bitcoin</a>
                    <a class="item">Ethereum</a>
                    <a class="item">Litecoin</a>
                    <a class="item">All of them</a>
                </div>
                <i class="dropdown icon"></i>
            </div>
        </div>
    </div>
    <div class="link item">
        <div class="middle aligned content">
            <i class="book icon"></i>
            <a class="ui header">History</a>
        </div>
    </div>
    <div class="link item">
        <div class="middle aligned content">
            <i class="info icon"></i>
            <a class="ui header">About Us</a>
        </div>
    </div>
    <div class="link item">
        <div class="middle aligned content">
            <i class="bitcoin icon"></i>
            <a class="ui header">Donate</a>
        </div>
    </div>
</div>
<div class="app-header">
    <div class="navbar">
        <div class="login-signup-btn">
            <span ng-if="!sessionId">
                <button ng-click="popupLogin();">Login to account</button>
            </span>
        </div>
    </div>

    <div class="login-popup">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" ng-model="sessionInfo.username"></input>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="text" id="password" ng-model="sessionInfo.password"></input>
        </div>
        <div>
            <button ng-click="login();">Log in</button>
        </div>
    </div>
</div>