<div class="messages-container" ng-show="messages && messages.length > 0">
    {{messages}}
</div>
<div class="currency-convert">
    <div>
        <h1 class="ui top attached header">
            <i class="exchange icon"></i>
            <div class="content">
                Live exchange rates
                <div class="sub header">Sign up for more features</div>
            </div>
        </h1>
    </div>
    <div class="ui attached segment">
        <div class="ui grid">
            <div class="five wide column" id="source-currency">
                <div class="ui fluid selection dropdown">
                    <input type="hidden" name="source-currency"/>
                    <i class="dropdown icon"></i>
                    <div class="default text">Rates for...</div>
                    <div class="menu">
                        <div class="ui icon search input">
                            <i class="search icon"></i>
                            <input type="text" placeholder="Search currency...">
                        </div>

                        <div class="divider"></div>
                        
                        <div class="scrolling menu">
                            <div class="item"
                                ng-repeat="currency in currencies.src"
                                data-value="{{currency.Name}}"
                                data-bind-to="srcId">
                                {{currency.FullName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="five wide column" id="destination-currency">
                <div class="ui fluid selection dropdown">
                    <input type="hidden" name="source-currency"/>
                    <i class="dropdown icon"></i>
                    <div class="default text">Rates in...</div>
                    
                    <div class="menu">
                        <div class="ui icon search input">
                            <i class="search icon"></i>
                            <input type="text" placeholder="Search currency...">
                        </div>

                        <div class="divider"></div>
                        
                        <div class="scrolling menu">
                            <div class="item"
                                ng-repeat="currency in currencies.dest"
                                data-value="{{currency.Name}}"
                                data-bind-to="destId">
                                {{currency.FullName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="six wide column" style="text-align: center;">
                <button
                    class="ui right labeled icon positive button"
                    ng-disabled="!(exchangeParams.srcId && exchangeParams.destId)"
                    ng-click="getExchangeRate();">
                    <i class="right arrow icon"></i>
                    Get Exchange Rates
                </button>
            </div>
        </div>

        <div id="exchange-rate-container" ng-if="exchangeRate">
            <div class="ui segment">
                <div class="ui three statistics">
                    <div class="statistic">
                        <div class="value">1</div>
                        <div class="label">{{exchangeParams.srcId}}</div>
                    </div>
                    <div class="statistic">
                        <div class="text value">=</div>
                        <div class="label"></div>
                    </div>
                    <div class="statistic">
                        <div class="value">{{exchangeRate|currency: ""}}</div>
                        <div class="label">{{exchangeParams.destId}}</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<chart type="'line'" data="data" options="options" height="500" width="800" promise="resolveChartsPromise"></chart>